*,
*::before,
*::after,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
}
body{
    margin: 0;
    font-size: 16px;
    font-family:'Segoe UI';
    font-weight: 400;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
}

/* /////////////////Common styles////////////////// */
a{
    text-decoration: none;  
}
i{
    font-weight: 400;
}
img{
    width: 100%;  
}
ul{
   list-style: none;
}

/* /////////////////Utilities/////////////////// */
/* .sticky {
    position: sticky !important;
} */
.hide{
    display: none;
}
.fade{
    opacity: 0;
}
.fade-in{
    opacity: 1;
    z-index: 20;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
.dark{
    border-top-color: #24292e !important;
    vertical-align: middle;
}
.small{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.pulls{
    display: none;
}

/* ///////////////////Header////////////// */
.nav{
    height: 62px;
    padding: 16px 32px;
    background: #24292e;
    display: flex;
    align-items: center;
}
.nav-item{
    display: flex;
    align-items: center;
}
.nav-item.mobile{
    display: none;
}
.nav-item:not(:last-child){
    margin-right: 16px;
}
.search-field{
    flex: 1;
}
.nav-link{
    color: white;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Segoe UI Semibold';
    /* font-weight: 400; */
    font-style: normal;
}
.nav-link.mobile{
    display: none;
}
.nav-link.sub{
    margin-right: 16px;
}
.nav-link:hover{
    color: rgba(255, 255, 255, 0.7);
}
.nav-icons{
    fill: white;
    vertical-align: middle;
}
.nav-icons:hover{
    fill: rgba(255, 255, 255, 0.7);
}
 .nav-item .search-form{
    background-color: #24292e;
    height: 62px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 16px;
    padding: 0;
}
#search-label{
  display: flex;
  height: 30px;
  border-radius: 6px;
  border: 1px solid rgb(68, 77, 86);
  align-items: center;
}
#search-key{
    width: 19px;
    height: 20px;
    margin-right: 8px;
}
#search-box{
    font-family:'Segoe UI Regular';
    width: 243px;
    padding: 0 12px;
    height: 28px;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border: none;
    color: #24292e;
    transition: width 0.5s ease;
}
#search-box::-webkit-input-placeholder { 
  color: rgba(255, 255, 255, 0.7);
}
#search-box:-ms-input-placeholder { 
  color: rgba(255,255,255,0.7);
}
#search-box::placeholder {
  color: rgba(255,255,255,0.7);
  vertical-align: top;
}
#search-label:focus{
  border: 1px solid #0366d6;
  box-shadow: rgba(3,102,214,0.3) 0 0 0 3px
}
#search-box:focus{
  background-color: #eee;
  border: 1px solid #0366d6;
  border-radius: 6px;
  width: 40vw;
}
#search-box:focus+#search-key{
  display: none;
}
#search-box:focus::-webkit-input-placeholder { 
  color: #6a737d;
}
#search-box:focus:-ms-input-placeholder {
  color:#6a737d;
}
#search-box:focus::placeholder {
  color:#6a737d;
}
#repo-search input::placeholder{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.caret{
    margin-left: 3px;
    border-top: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 0px solid transparent;
}
.drop-menus{
    cursor: pointer;
    position: relative;
}
.drop-menus:hover .caret{
    opacity: 0.7;
}
.drop-menus:hover .plus,
.drop-menus:hover .profile{
    fill: rgba(255, 255, 255, 0.7);
}
.msg-link{
    position: relative;
}
.msg-link:after{
    content: 'You have unread notifications';
    position: absolute;
    background-color:#24292e;
    font-size: 12px;
    line-height: 18px;
    width: 170px;
    right: 0;
    top: 140%;
    padding: 4px;
    border-radius: 6px;
    text-align: center;
    font-weight: 300;
    color: #fff;
    font-family: 'Segoe UI';
    display: none;
}
.msg-link:hover:after{
    display: block;
}
#notification-ball{
    position: absolute;
    top: -6px;
    left: 6px;
    z-index: 20;
    width: 14px;
    height: 14px;
    color: #fff;
    background-image: linear-gradient(#54a3ff,#006eed);
    background-clip: padding-box;
    border: 2px solid #24292e;
    border-radius: 50%;
}

.drop-menus.on{
    cursor: default;
}
.nav-item .menu-items{
    position: absolute;
    width: 160px;
    padding: 4px 0;
    display: none;
    margin-top: 8px;
    top: 100%;
    right: 0;
    z-index: 100;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
    border: 1px solid rgb(225, 228, 232)
}
.nav-item .menu-items:before{
    position: absolute;
    content: '';
    z-index: 150;
    border-bottom: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    right: 9px;
    top: -16px;
}
.nav-item .menu-items a{
    padding: 4px 8px 4px 16px;
    display: block;
    overflow: hidden;
    color: #24292e;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.nav-item .menu-items a:hover{
    color: #fff;
    background-color:  rgb(3, 102, 214);
    outline: none;
}

.nav-item.second .menu-items{
    width: 178px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #24292e;
    display: none;
}
.nav-item.on .menu-items,
.nav-item.second.on .menu-items{
    display: initial;
}
.nav-item.second .menu-items>div{
    padding-top: 8px;
    padding-bottom: 8px;
}
.nav-item.second .menu-items>div:not(:last-child){
    border-bottom: 1px solid rgb(225, 228, 232);
}
.nav-item.second .menu-items>div:last-of-type{
    padding-bottom: 4px;
}
.nav-item.second .signedIn{
    padding: 8px 16px;
}
.nav-item.second .status-mobile img{
    width: 20px;
    height: 15px;
}
.nav-item.second .status-mobile{
    display: flex;
    width: 146px;
    height: 30px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(225, 228, 232);
    border-radius: 6px;
}


/* ////////////////Tabs//////////////////// */
.tabs-wrapper{
    border-bottom: 1px solid #eee;
}
.tabs{
    height: 49px;
    margin: 0 -16px;
    margin-top: 24px;
    z-index: 10;
    display: flex;
}
.tabs-wrapper .container{
    /* position: fixed; */
    /* top: 40px; */
}
.tabs.mobile{
    display: none;
}
.left-part{
    flex-basis: 25%;
    padding: 0 16px;
}
.right-part{
    flex-basis: 75%;
    padding: 0 16px;
}
.tabs-left.left-part>div{
    align-items: center;
    height: 48px;
    display: none;
}
.main.alt .tabs-left.left-part>div{
    display: flex;
}
.tabs-left.left-part img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}
.tabs-left.left-part>div>span{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #24292e;
}
/* /////////////////Content Left Part//////////////// */
.content{
    display: flex;
    margin: 0 -16px;
}
.left-part .offset{
    margin-top: -32px;
}
.left-part .circle{
    /* border: 1px solid black; */
    position: relative;
    overflow: visible;
    z-index: 10;
    /* visibility: hidden; */
}
.left-part .circle img{
    border-radius: 50%;
    border-width: 0;
}
.left-part .circle .status{
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 75%;
    left: 85%;
}
.left-part .squares{
    border: 19px solid;
    box-shadow: rgba(27, 31, 35, 0.15) 0px 1px 0px 0px;
}
.left-part .one{
    border-color: #fff transparent #fff #fff;
    border-right-width: 0;
    border-top-left-radius: 38px;
    border-bottom-left-radius: 38px;
    position: relative;
}
.left-part .two{
    background-color: #fff;
    border-width: 0;
    display: none;
}
.left-part .three{
    border-color: #fff #fff #fff transparent;
    border-left-width: 0;
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
}
.left-part .comment{
    position: absolute;
    width: 20px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.left-part .status:hover .two{
    line-height: 38px;
    display: block;
    padding-left: 20px;
    min-width: 100px;
    font-size: 12px;
    color: rgb(3, 102, 214);
}
.left-part .status-mobile{
    display: none;
}
.left-part .profile-icons,
.right-part .profile-icons,
.right-part .repo-license svg,
.right-part .create-repo{
    fill: rgb(106, 115, 125);
    vertical-align: text-bottom;
}
.left-part #name-container{
    padding: 16px 0;
}
.left-part #name-container h1{
   line-height: 0.5;
   display: flex;
   flex-direction: column;
   color: #24292e;
}
.main.alt .left-part #name-container h1{
   display: none;
 }
.left-part #name{
    font-size: 26px;
    line-height: 1.25;
    font-weight: 600;
}
.left-part #additionalName{
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    color: rgb(88, 96, 105);
}
.left-part #followers-container{
    padding-bottom: 16px;
}
.left-part #followers-container>div{
    display: flex;
    align-items: center;
}
.left-part #followers-container a{
    color: #24292e;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: rgb(88, 96, 105)
}
.left-part #followers-container a:hover,
.left-part #followers-container a:hover>span,
.right-part .meta:hover{
    color: #0366d6;
}
.left-part #followers-container a:hover>svg,
.right-part .meta:hover .profile-icons{
    fill : #0366d6;
}
.left-part .edit-profile-btn{
    padding: 5px 16px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    color: #24292e;
    font-size: 14px;
    line-height: 20px;
    font-family:'Segoe UI';
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    display: inline-block;
    width: 100%;
    background-color: rgb(250, 251, 252);
    cursor: pointer;
}
.left-part .edit-profile-btn:hover{
    background-color: rgb(237, 239, 242);
}
.left-part .dot{
    line-height: 10px;
    padding: 0 3px 7px 3px;
    display: inline-block;
    color: #24292e;
}
.left-part .profile-sections{
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid rgb(234, 236, 239);
}
.left-part .profile-sections h2{
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #24292e;
}
.left-part .count{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #24292e;
}
.left-part .count:hover{
    color: #0366d6;
}
.left-part #organizations>div{
    display: flex;
}
.left-part #organizations img{
    width: 32px;
    height: 32px;
    border-radius: 6px;
    margin-right: 3px
}
.left-part #highlights span{
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
    color: #24292e;
}
/* /////////////////Content Right Part//////////////// */
.right-part .sub-nav-container{
    display: flex;
    /* border: 1px solid black; */
}
.right-part .sub-nav{
    padding: 8px 16px;
    font-size: 14px;
    line-height: 30px;
    color: #24292e;
    border: none;
    border-bottom: 2px solid transparent;
    font-weight: 400;
    height: 48px;
    display: inline-block;
}
.right-part .sub-nav.current{
    border-bottom-color: rgb(249, 130, 108);
}
.right-part .sub-nav:hover{
    border-bottom-color: rgb(209, 213, 218);
}
.right-part .sub-nav svg{
    fill: rgb(149, 157, 165);
    vertical-align: text-bottom;
    margin-right: 4px;
}
.right-part .sub-nav.current svg{
    fill: #24292e;
}
.right-part .repo-num{
    min-width: 20px;
    padding: 0 6px;
    text-align: center;
    color: #24292e;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid transparent;
    background-color: rgba(209, 213, 218, 0.5);
    border-radius: 2em;
    margin-left: 4px;
}
.right-part .caption{
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
}
.right-part .sub-nav:nth-child(2) .caption{
    font-weight: 600;
}
.right-part .search-filter form{
    display: flex;
    padding: 16px 0;
}
.right-part #repo-search{
    margin-right: 16px;
    flex: 1;
}
.right-part #repo-search input{
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color:#24292e;
    vertical-align: middle;
    width: 100%;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow:rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}
.right-part #repo-search input:focus{
     border-color: #0366d6;
     box-shadow:rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.right-part #repo-filter{
    display: flex;
}
.right-part .create-repo{
    fill: rgba(255, 255, 255, 0.8);
}
.right-part .repo{
    border-top: 1px solid rgb(234, 236, 239);
    padding: 24px 0;
    display: flex;
    align-items: center;
}
.right-part .repo-left{
    flex: 3;
}
.right-part .repo-right{
    flex: 1;
}
.right-part .repo-name{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}
.right-part .repo-name a{
    color: rgb(3, 102, 214);
    margin-bottom: 4px;
}
.right-part .repo-name a:hover{
    text-decoration: underline;
}
.right-part .repo-forked{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgb(88, 96, 105);
    margin-bottom: 8px;
}
.right-part .repo-forked a{
    color: rgb(88, 96, 105);
}
.right-part .repo-forked a:hover{
    color: rgb(3, 102, 214);
}
.right-part .repo-desc{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgb(88, 96, 105);
    margin-bottom: 16px;
}
.right-part .repo-meta{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgb(88, 96, 105);
    margin-top: 16px;
}
.right-part .repo-lang-legend{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #f1e05a;
    display: inline-block;
}
.right-part .meta{
    margin-right: 16px;
    cursor: pointer;
}
.right-part .meta:first-child{
    cursor: default;
}
.right-part .meta:first-child:hover{
    color: rgb(88, 96, 105);
}
.right-part .btn-star,
.filter-btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: #24292e;
    padding: 3px 12px;
    background-color: rgb(250, 251, 252);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    border-radius: 6px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    height: 28px;
    cursor: pointer;
}
.right-part .language .filter-btn{
    margin-right: 0;
}
.right-part .filter-btn:hover{
    background-color: rgb(243, 244, 246);
}
.right-part .btn-star:hover{
    background-color: rgb(237, 239, 242);
}
.right-part .btn-star svg{
    fill: rgb(106, 115, 125);
    vertical-align: text-bottom;
}
.right-part .repo-private{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #586069;
    border-radius: 24px;
    border: 1px solid rgb(225, 228, 232);
    padding: 0 7px;
    margin: 0 0 4px 8px;
    width: 54px;
    height: 20px;
}
.btn-star .fill{
    display: none;
}
.btn-star .stroke{
    display: initial;
}
.btn-star.starred .fill{
    display: initial
}
.btn-star.starred .stroke{
    display: none
}


/*/////////////// Click Drop-down ////////////////*/
.drop-down{
    position: relative;
 
}
.type>button,
.language>button{
    position: relative;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px 16px 5px 16px;
    cursor: pointer;
    height: 32px;
    width: auto;
    margin-right: 8px;
    font-size: 14px;
    color: rgb(106, 115, 125);
    z-index: 5;
}
.drop-down .current-selection{
    color: #24292e;
    font-weight: 500;
}
button.list-visible{
    cursor: default;
}
.type .type-list,
.language .type-list{
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: all 0.5s ease;
    right: 8px;
    width: 300px;
    height: 265px;
    background-color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #24292e;
    top:20px;
}
.language .type-list{
    right: 0;
}
.type>button.list-visible+.type-list,
.language>button.list-visible+.type-list{
    opacity: 1;
    transform: translateY(20px);
    z-index: 25;
}
.type .heading,
.language .heading{
    padding: 7px 7px 7px 16px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.btn-close{
    border: none;
    background-color: transparent;
}
.cross,
.check
{
    height: 18px;
    width: 18px;
}
.cross{
    cursor: pointer;
    fill: rgb(149, 157, 165);
}
.btn-close:hover .cross{
    fill: #24292e;
}
.type .options,
.language .options{
   display: flex;
   justify-content: flex-start;
   padding: 7px;
   padding-left: 20px;
   border-top: 1px solid #ddd;
   cursor: pointer;
}
.type .options:hover,
.language .options:hover{
    background-color: rgb(246, 248, 250);
}
.type .options span,
.language .options span{
    margin-left: 10px
}
.new-repo{
    color: #fff;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, 0.15);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px;
    cursor: pointer;
    width: 83px;
    height: 32px;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 6px;
    margin-left: 16px;
}
.new-repo:hover{
    background-color: #2c974b;
}

/* Misc */


/* Tooltip text */
.circle .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color:#24292e;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    z-index: 1;
    top: 101%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
.circle .tooltiptext::after {
    content: "";
    position: absolute;
    top: -39%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #24292e transparent;
}
.circle:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.right-part .repo .repo-right{
   display: flex;
   justify-content: flex-end;
}
.right-part .repo .repo-right .btn-star{
    margin-top: 5px;
 }
 .right-part .repo{
    align-items: flex-start;
}
 .right-part .repo-license{
     margin-right: 16px;
 }
/* End of Misc */

@media (min-width: 992px) and (max-width:1180px) {
    .left-part .circle .status{
        top: 75%;
        left: 75%;
    }
}

@media (max-width:991px){
    .tabs-wrapper .container{
        padding: 0 24px;
    }
    .left-part{
        padding: 0 8px;
    }
    .right-part{
        padding: 0 8px;
    }
    .right-part .repo{
        align-items: center;
    }
    .right-part .repo .repo-right .btn-star{
        margin-top: 0;
     }
}

@media (min-width:768px) and (max-width:991px){
    .nav{
        padding: 16px 24px 16px 24px;
    }
    .pulls{
        display: initial;
    }
    .pull-requests{
        display: none;
    }
    .nav-item #search-box{
        width: 230px;
    }
    .left-part .circle .status{
        top: 70%;
        left: 72%;
    }
}
@media (max-width: 767px){
    .nav{
        justify-content: space-between;
        padding: 16px;
        flex-wrap: wrap;
        min-height: 62px;
    }
    .nav-item.desktop{
        display: none;
    }
    .nav-item.mobile{
        display: inline-block;
        cursor: pointer;
    }
    .menu{
        font-family:'Segoe UI Semibold';
        font-size: 14px;
        line-height: 21px;
        font-weight: 600;
        vertical-align: text-bottom;
    }
    .nav-item.msg-item{
        margin-right: 0;
    }
    .nav-item.search-field{
        position: relative;
        z-index: 100;
        flex-basis: 100vw;
        order: 2;
        background-color: #24292e;
        margin-left: -16px;
        margin-right: -16px;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 16px 16px 16px;
    }
    .nav-item .search-form{
        margin-right: 0;
        width: 100%
    }
    .nav-item #search-label{
        width: 100%;
    }
    .nav-item #search-box{
        width: 100%;
    }
    .nav-link.list{
        padding: 8px 0;
        border-top: 1px solid rgb(68, 77, 86);
        flex: 1;
        margin-right: 0;
        display: block;
        width: 100%;
    }
    .nav-link.mobile.list span{
        display: flex;
        align-items: center;
    }
    .nav-link.mobile.list #username{
       margin-left: 4px;
    }
    .nav-link .sign-out-form{
        display: flex;
        align-items: center;
    }
    .nav-link .sign-out{
        margin-right: 3px;
    }
    .content{
        flex-direction: column;
    }
    .left-part .profile-sections{
        display: none;
    }
    .tabs.desktop{
        display: none;
    }
    .tabs.mobile{
        display: initial;
        margin:0;
    }
    .tabs-right.right-part{
        padding: 0;
        margin: 0 -16px;
        border-bottom: 1px solid #eee;
    }
    .right-part .search-filter form{
        flex-direction: column;
    }
    .right-part #repo-search{
        margin: 0 0 16px 0;
    }
    .right-part #repo-filter{
        justify-content: flex-end;
    }
    .right-part #repo-filter .new-repo{
        margin-left: auto;
    }
    .container{
        padding: 0 16px;
    }
    .container.menu-out{
        margin-top: 330px;
    }
    .content{
        margin: 0;
    }
    .profile.left-part,
    .repository.right-part{
        padding: 0;
    }
    .sub-nav-container{
        padding: 0 16px;
    }
    .left-part .offset{
        margin-top: 0;
    }
    .offset>div{
        display: flex;
        margin-bottom: 24px;
        align-items: center;
    }
    .offset>div .circle{
        flex: 1;
        margin-right: 16px;
        padding-top: 2px;
    }
    .offset>div #name-container{
        flex: 5;
        padding: 0 0 0 8px;
    }
    .left-part .circle .status{
        display: none;
    }   
    .right-part .repo-left{
        flex: 5
    }
    .left-part .status-mobile{
        display: block;
        background-color: #fff;
        height: 31px;
        border: 1px solid #eee;
        width: 100%;
        border-radius: 6px;
        padding: 4px 8px;
        position: relative;
        margin-bottom: 8px;
    }
    .left-part .status-mobile p{
        padding-left: 30px;
        font-weight: 400;
        line-height: 20px;
        font-size: 12px;
        color: #24292e;
    }
    .left-part .status-mobile p:hover{
        color: #0366d6;
    }
    .left-part .comment{
        left: 20px;
    }
    .left-part .edit-profile-btn{
        margin-bottom: 0;
    }
}

@media (max-width: 540px){
    .tabs-right.right-part svg{
        display: none;
    }
}

.tabs-wrapper.sticky{
    position: sticky;
    top: 0;
    background: #fff;
}