*,
*::before,
*::after,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
}

body{
    margin: 0;
    font-size: 16px;
    font-family:'Segoe UI Regular';
    font-weight: 400;
  }

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
}

/* Common styles */
a{
    text-decoration: none;  
}

i{
    font-weight: 400;
}

img{
    width: 100%;  
}

ul{
   list-style: none;
}

/* Utilities */
.sticky {
    position: sticky !important;
}
.hide{
    display: none;
}
.fade{
    opacity: 0;
}
.fade-in{
    opacity: 1;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
.dark{
    border-top-color: #24292e !important;
    vertical-align: middle;
}
.small{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.pulls{
    display: none;
}

/* Header */
.nav{
    height: 62px;
    padding: 16px 32px;
    background: #24292e;
    display: flex;
    align-items: center;
}
.nav-item{
    display: flex;
    align-items: center;
}
.nav-item.mobile{
    display: none;
}
.nav-item:not(:last-child){
    margin-right: 16px;
}
.search-field{
    flex: 1;
}
.nav-link{
    color: white;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Segoe UI Semibold';
    /* font-weight: 400; */
    font-style: normal;
}
.nav-link.mobile{
    display: none;
}
.nav-link.sub{
    margin-right: 16px;
}
.nav-link:hover{
    color: rgba(255, 255, 255, 0.7);
}
.nav-icons{
    fill: white;
    vertical-align: middle;
}
.nav-icons:hover{
    fill: rgba(255, 255, 255, 0.7);
}



 /* Search Input */
 .nav-item .search-form{
    background-color: #24292e;
    height: 62px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 16px;
    padding: 0;
}
#search-label{
  display: flex;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(68, 77, 86);
  align-items: center;
}
#search-key{
    width: 19px;
    height: 20px;
    margin-right: 8px;
}
#search-box{
    font-family:'Segoe UI Regular';
    width: 243px;
    padding: 0 12px;
    height: 28px;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border: none;
    color: #24292e;
    transition: width 0.5s ease;
}
::-webkit-input-placeholder { /* Edge */
  color: rgba(255, 255, 255, 0.7);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255,255,255,0.7);
}
::placeholder {
  color: rgba(255,255,255,0.7);
}
#search-label:focus{
  border: 1px solid #0366d6;
  box-shadow: rgba(3,102,214,0.3) 0 0 0 3px
}
#search-box:focus{
  background-color: #eee;
  border: 1px solid #0366d6;
  border-radius: 5px;
  width: 40vw;
}
#search-box:focus+#search-key{
  display: none;
}
#search-box:focus::-webkit-input-placeholder { /* Edge */
  color: #6a737d;
}
#search-box:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#6a737d;
}
#search-box:focus::placeholder {
  color:#6a737d;
}

.caret{
    margin-left: 3px;
    border-top: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 0px solid transparent;
}
.drop-menus{
    cursor: pointer;
}
.drop-menus:hover .caret{
    opacity: 0.7;
}
.drop-menus:hover .plus,
.drop-menus:hover .profile{
    fill: rgba(255, 255, 255, 0.7);
}
.msg-link{
    position: relative;
}
#notification-ball{
    position: absolute;
    top: -6px;
    left: 6px;
    z-index: 20;
    width: 14px;
    height: 14px;
    color: #fff;
    background-image: linear-gradient(#54a3ff,#006eed);
    background-clip: padding-box;
    border: 2px solid #24292e;
    border-radius: 50%;
}

/* Tabs */
.tabs{
    height: 71px;
    margin-top: 24px;
    border-bottom: 1px solid #eee;
    z-index: 10;
}

/* Click Drop-down */
.drop-down{
    margin-top: 50px;
    position: relative;
}

.type>button{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 25%;
    padding: 7px 16px 7px 7px;
    cursor: pointer;
}

.type>button.list-visible{
    cursor: default;
}

.type .type-list{
    position: absolute;
    border: 1px solid #ccc;
    width: 25%;
    border-radius: 5px;
    padding-top: 7px;
    transition: all 0.5s ease;
    z-index: 20;
}

.type>button.list-visible+.type-list{
    opacity: 1;
    transform: translateY(20px);
}

.type .heading{
    padding: 7px 16px 7px 16px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.type .cross,
.type .check
{
    height: 18px;
    width: 18px;
}

.type .cross{
    cursor: pointer;
}


.type .options{
   display: flex;
   justify-content: flex-start;
   padding: 8px;
   padding-left: 20px;
   border-top: 1px solid #ddd;
   cursor: pointer;
}

.type .options:hover{
    background-color: rgb(246, 248, 250);
}

.type .options span{
    margin-left: 10px
}

/* Misc */
.black{
    margin-top: 50px;
    margin-left: 50px;
    background: #24292e;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-wrapper{
    display: flex;
    /* margin-top: 24px; */
    margin-top: 400px;
    border: 1px solid blue;
    width: 100%;
}
.right-side{
    width: 75%;
    background-color: brown;
}
.mini-wrapper .circle{
    margin-top: 30px;
    /* border: 1px solid black; */
    width: 25%;
    margin-right: 40px;
    position: relative;
    overflow: visible;
}
.circle img{
    border-radius: 50%;
    border-width: 0;
}
.circle .status{
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 72%;
    left: 87%;
}
.squares{
    border: 19px solid;
    box-shadow: rgba(27, 31, 35, 0.15) 0px 1px 0px 0px;
}
.one{
    border-color: #fff transparent #fff #fff;
    border-right-width: 0;
    border-top-left-radius: 38px;
    border-bottom-left-radius: 38px;
    position: relative;
}
.two{
    background-color: #fff;
    border-width: 0;
    display: none;
}
.three{
    border-color: #fff #fff #fff transparent;
    border-left-width: 0;
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
}
.comment{
    position: absolute;
    width: 20px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.status:hover .two{
    line-height: 38px;
    display: block;
    padding-left: 20px;
    min-width: 100px;
    font-size: 12px;
    color: rgb(3, 102, 214);
}


   /* Tooltip text */
   .circle .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color:#24292e;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .circle .tooltiptext::after {
    content: "";
    position: absolute;
    top: -40%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #24292e transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .circle:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
/* End of Misc */

@media(min-width:768px) and (max-width:991px){
    .nav{
        padding: 16px 24px 16px 24px;
    }
    .pulls{
        display: initial;
    }
    .pull-requests{
        display: none;
    }
    .nav-item #search-box{
        width: 230px;
    }
}
@media screen and (max-width: 767px){
    .nav{
        justify-content: space-between;
        padding: 16px;
        flex-wrap: wrap;
        min-height: 62px;
    }
    .nav-item.desktop{
        display: none;
    }
    .nav-item.mobile{
        display: inline-block;
        cursor: pointer;
    }
    .menu{
        font-family:'Segoe UI Semibold';
        font-size: 14px;
        line-height: 21px;
        font-weight: 600;
        vertical-align: text-bottom;
    }
    .nav-item.msg-item{
        margin-right: 0;
    }
    .nav-item.search-field{
        flex-basis: 100vw;
        order: 2;
        background-color: #24292e;
        margin-left: -16px;
        margin-right: -16px;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 16px 16px 16px;
    }
    .nav-item .search-form{
        margin-right: 0;
        width: 100%
    }
    .nav-item #search-label{
        width: 100%;
    }
    .nav-item #search-box{
        width: 100%;
    }
    .nav-link.list{
        padding: 8px 0;
        border-top: 1px solid rgb(68, 77, 86);
        flex: 1;
        margin-right: 0;
        display: block;
        width: 100%;
    }
    .nav-link.mobile.list span{
        display: flex;
        align-items: center;
    }
    .nav-link.mobile.list #username{
       margin-left: 4px;
    }
    .nav-link .sign-out-form{
        display: flex;
        align-items: center;
    }
    .nav-link .sign-out{
        margin-right: 3px;
    }
}